<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>




<style>
	.slider {
		width: 100%;
		height: 510px;
		position: relative;
	}

		.slider img {
			width: 100%;
			height: 700px ;
			position: absolute;
			
			border-radius:20px;
		}

  /*   .potato{
        margin-top: 100px;
    } */

    .footer-dark {
        padding: 50px 0;
        color: black;
        background-color: white;
        margin-top:100px;
    }

        .footer-dark h3 {
            margin-top: 0;
            margin-bottom: 12px;
            font-weight: bold;
            font-size: 16px;
        }

        .footer-dark ul {
            padding: 0;
            list-style: none;
            line-height: 1.6;
            font-size: 14px;
            margin-bottom: 0;
        }

            .footer-dark ul a {
                color: inherit;
                text-decoration: none;
                opacity: 0.6;
            }

                .footer-dark ul a:hover {
                    opacity: 0.8;
                }



        .footer-dark .item.text {
            margin-bottom: 36px;
        }



            .footer-dark .item.text p {
                opacity: 0.6;
                margin-bottom: 0;
            }

        .footer-dark .item.social {
            text-align: center;
        }



            .footer-dark .item.social > a {
                font-size: 20px;
                width: 36px;
                height: 36px;
                line-height: 36px;
                display: inline-block;
            }
    /* Additional styles for the content */
    .w3-main {
       
        max-width: 1200px;
        margin:auto;
        padding: 20px;
			margin-top: 250px;
		}

    .w3-quarter {
        margin-bottom: 16px;
        text-align: center;
    }

        .w3-quarter img {
            width: 100%;
            border-radius: 8px;
            transition: opacity 0.3s ease-in-out;
        }

            .w3-quarter img:hover {
                opacity: 0.7; /* Adjust the opacity value as needed */
            }

    h1, h3 {
        color: #333;
    }

    p {
        color: #666;
    }
    
</style>


<div class="slider">
        <img id="img-1" src="~/img/concertmain12.jpg" alt="Image 1" />
</div>

 
    <div class="w3-main">
        <div class="w3-row-padding w3-padding-16 w3-center" id="events">
            <h1>Trending Concerts</h1>
            <div class="w3-quarter">
                <a href="/Home/Ticket"> <img src="/img/adam.jpeg" alt="Adam Concert"></a>
                <h3>ADAM</h3>
                <p>The superstar “ADAM”, a memorable night for a live concert that will take you on a journey of togetherness!</p>
            </div>
            <div class="w3-quarter">
                <img src="/img/hamaki.jpeg" alt="Hamaki Concert">
                <h3>HAMAKI</h3>
                <p>Layali Festival 2023 presents the superstar “Mohammad Hamaki” live in Amman on Thursday, the 24th of 2023.</p>
            </div>
            <div class="w3-quarter">
                <img src="/img/mahmoud.jpeg" alt="Mahmoud Concert">
                <h3>MAHMOUD</h3>
                <p>Get ready for an unforgettable night with “Mahmoud” live in concert at Amman on Friday, the 24th of 2023.</p>
            </div>
            <div class="w3-quarter">
                <img src="/img/silawy.jpeg" alt="Siilawy Concert">
                <h3>SIILAWY</h3>
                <p>Get your tickets now for an unforgettable night with the one and only “SIILAWY” on October 20th!</p>
            </div>
        </div>
        
    </div>
    <div class="potato">
    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Concerts</h3>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">25JD</div>
                <img src="/img/concert1.jpeg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">35JD</div>
                    <img src="/img/concert2.jpeg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">FREE</div>
                    <img src="/img/concert5.jpeg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">35JD</div>
                    <img src="/img/concert9.jpeg" alt="House" style="width:100%">
            </div>
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">10JD</div>
                    <img src="/img/concert7.jpeg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">15JD</div>
                    <img src="/img/concert6.jpeg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">200JD</div>
                    <img src="/img/concert10.jpeg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">175JD</div>
                    <img src="/img/concert8.jpeg" alt="House" style="width:99%">
            </div>
        </div>
    </div>
	</div>
	<div class="footer-dark">
		<footer>
			<hr />
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3 item">
						<h3>Services</h3>
						<ul>
							<li><a href="#">Web design</a></li>
							<li><a href="#">Development</a></li>
							<li><a href="#">Hosting</a></li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-3 item">
						<h3>About</h3>
						<ul>
							<li><a href="#">Company</a></li>
							<li><a href="#">Team</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</div>
					<div class="col-md-6 item text">
						<h3>Company Name</h3>
						<p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
					</div>
					<div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
				</div>
				<p class="copyright">Company Name © 2018</p>
			</div>
		</footer>
	</div>
</body>
</html>

